*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira Semi Condensed', sans-serif;
}

body {
    background: #fcfcfc;
    font-family: sans-serif;
}

nav {
    overflow: hidden;
    background-color: #061e34;
    padding: 10px;
}

.links {
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

nav .logo {
    font-size: 25px;
    font-weight: bold;
}

nav .links:hover {
    background-color: #4abdd6;
    color: #051d34;
    transition: 0.6s;
}

nav .selected {
    background-color: #dec0c1;
    color:#051d34;
}

.rightSection {
    float: right;
}

@media screen and (max-width: 870px) {
    nav .links {
        float: none;
        display: block;
        text-align: left;
    }
    .rightSection {
        float: none;
    }
}

.logo{
    width:120px;
    height:60px;
    opacity: 1;
}

.container{
    display: flex;
    flex-wrap: wrap;
    border: solid #051d34 5px;
}

img{
    padding:1%;
    width:20%;
    height:20%;
    opacity: 0.5;
    border: solid #051d34 5px;
}
.bodi{
    width:100%;
    margin:auto;
    padding:auto;
}
